* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  cursor: pointer;
  overflow: hidden;
}

hr {
  height: 6px;
  border: 0;
  margin-bottom: 6px;
}

svg {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  fill: #3b2945;
}

#arrow {
  position: absolute;
  top: 90%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  opacity: 0;
}

#logo {
  background: linear-gradient(45deg, rgb(179, 41, 151), rgb(230, 182, 35));
  height: 315px;
  width: 315px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0% 0%;
  transform: translate(-50%, -50%);
}

#main {
  display: flex;
  flex-direction: column;
}

/* ~~~ NAV ~~~ */

nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: absolute;
  margin: 0 auto;
  padding: 25px 17%;
}

nav > div {
  opacity: 0;
  flex-basis: 25%;
}

nav > div > div {
  background-size: 100% 0%;
  transition: 0.5s ease;
  background-repeat: no-repeat;
  width: 125px;
  margin: 0 auto;
}

nav > div > div > a {
  text-decoration: none;
  color: white;
  text-align: center;
  margin: 0 auto;
  font-family: "Raleway";
  font-size: 1.2em;
  padding: 5px 0;
}

nav > div > div:hover {
  background-size: 100% 100%;
}



/* ~~~ end of nav ~~~ */

/* ~~~ HOME ~~~ */

#home {
  flex-basis: 100vh;
  background-color: #3b2945;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  color: white;
}

#home div {
  margin-top: 200px;
  opacity: 0;
  align-self: center;
}

#home div h1 {
  font-size: 80px;
  font-family: "Hind Madurai";
}

#home div hr {
  width: 0;
  transform-origin: 50%;
}

#home div h3 {
  font-size: 40px;
  font-weight: 100;
  font-family: "Raleway";
}

/* ~~~ end of home ~~~ */

/* ~~~ WORK ~~~ */

#work {
  flex-basis: 100vh;
  background-color: #3b2945;
}

#workContainer {
  background-color: #594266;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Work Title */
#workContainer > div:nth-child(1) {
  flex-basis: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#workContainer > div:nth-child(2) {
  flex-basis: 85%;
  display: flex;
  flex-wrap: wrap;
}

#workContainer > div:nth-child(2) > div {
  flex-basis: 50%;
  align-self: stretch;
}

#workContainer > div:nth-child(1) > h3 {
  font-family: "Hind Madurai";
  color: white;
  font-size: 3em;
  width: 300px;
}

.img-box {
  height: 300px;
  width: 500px;
  margin: 0 auto;
  background-size: cover;
  overflow: hidden;
  display: flex;
  align-content: space-around;
  opacity: 0;
}

#Rick {
  background-image: url("https://image.ibb.co/nmd48x/rickandmorty.jpg");
}

#Twitch {
  background-image: url("https://image.ibb.co/niELyx/twitch.jpg");
}

#Simon {
  background-image: url("https://image.ibb.co/jX8DJx/simon.jpg");
}

#Pomo {
  background-image: url("https://image.ibb.co/cNcMox/pomodoro.jpg");
}





/* ~~~ end of work ~~~ */

/* ~~~ ABOUT ~~~ */

#about {
  flex-basis: 100vh;
  background-color: #3b2945;
}

#aboutContainer {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#aboutContainer > div:nth-child(1) {
  flex-basis: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#aboutContainer > div:nth-child(1) > h3 {
  font-family: "Hind Madurai";
  color: white;
  font-size: 3em;
  width: 300px;
}

#aboutContainer > div:nth-child(2) {
  flex-basis: 85%;
  display: flex;
  flex-wrap: wrap;
  align-items: space-around;
}

#aboutContainer > div:nth-child(2) > div:nth-child(1) {
  position: relative;
}

#aboutContainer > div:nth-child(2) > div:nth-child(1), #aboutContainer > div:nth-child(2) > div:nth-child(2) {
  flex-basis: 50%;
}

#aboutPic > img {
  margin: 0 auto;
  height: 400px;
  width: 400px;
}

#aboutText > div {
  width: 400px;
  height: 400px;
  position: relative;
  background-color: #594266;
  margin: 0 auto;
}

#aboutText > div > p {
  width: 90%;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Raleway";
}

#skillsContainer {
  flex-basis: 100%;
}

#skills {
  width: 600px;
  height: 300px;
  margin: 0 auto;
  background-color: #594266;
}

#skills div {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: white;
}

#skills #left {
  float: left;
}

#skills #right {
  float: right;
}

#skills #left div {
  height: 100%;
  width: 100%;
  background-size: 0% 100%;
  transition: 0.5s ease;
  background-repeat: no-repeat;
}

#left div p {
  font-family: "Raleway";
  font-size: 1.25em;
}

#right div p {
  font-family: "Raleway";
  font-size: 1em;
}

/* ~~~ end of about ~~~ */

/* ~~~ CONTACT ~~~ */

#contact {
  background-color: #1C1F29;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#contact p {
  text-align: center;
  margin-bottom: 20px;
}

#contact p a {
  color: white;
  font-family: "Raleway";
  font-size: 1em;
}

#contactBox {
  width: 100%;
  display: flex;
  justify-content: center;
}

#contactBox a {
  margin: 20px;
  color: #594266;
}

#contactBox a:hover {
  color: white;
  cursor: pointer;
}

/* ~~~ end of contact ~~~ */

/* ~~~ ANIMATIONS ~~~ */

@keyframes arrow-anim {
  5% {
    opacity: 1;
  }
  45% {
    opacity: 1;
    top: 95%;
  }
  50% {
    opacity: 0;
    top: 95%;
  }
  100% {
    opacity: 0;
    top: 95%;
  }
}

@keyframes black-slide {
  100% {
    top: 0;
  }
}

@keyframes hrAnim {
  100% {
    width: 100%;
  }
}

@keyframes logoAnim {
  100% {
    transform: scale(0.5) translate(-50%, 50%);
    top: 75px;
  }
}

@keyframes slidefade {
  100% {
    margin: 0 auto;
    opacity: 1;
  }
}

@keyframes text-anim {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 1460px) {
  #workContainer>div:nth-child(2)>div {
    flex-basis: 100%;
    padding: 30px;
  }
  #aboutContainer > div:nth-child(2) > div:nth-child(1), #aboutContainer > div:nth-child(2) > div:nth-child(2) {
    flex-basis: 100%;
  }
  #aboutContainer > div:nth-child(2) > div {
    padding: 30px;
  }
  #aboutText > div {
    width: 600px;
    height: 300px;
  }
}

@media (max-width: 800px) {
  #workContainer {
    width: 100%;
  }
  #aboutContainer {
    width: 100%;
  }
  nav > div {
    flex-basis: 100%;
  }
  nav > div > div {
    width: 157px;
  }
  nav > div > div > a {
    font-size: 1.5em;
  }
}
