* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  cursor: pointer;
  overflow: hidden;
}

hr {
  height: 6px;
  border: 0;
  margin-bottom: 6px;
}

svg {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  fill: #3b2945;
}

#arrow {
  position: absolute;
  top: 90%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  opacity: 0;
}

#logo {
  background: linear-gradient(45deg, rgb(179, 41, 151), rgb(230, 182, 35));
  height: 315px;
  width: 315px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0% 0%;
  transform: translate(-50%, -50%);
}

#main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* ~~~ NAV ~~~ */

nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 25px 25%;
  position: absolute;
}

nav div {
  background-size: 100% 0%;
  transition: 0.5s ease;
  background-repeat: no-repeat;
  opacity: 0;
  margin-top: 50px;
}

nav div p {
  cursor: pointer;
  width: 125px;
  text-align: center;
  font-family: "Raleway";
  color: white;
  padding: 5px 0;
  font-size: 1.2em;
}

nav div a {
  text-decoration: none;
}


nav div:hover {
  background-size: 100% 100%;
}

/* ~~~ end of nav ~~~ */

/* ~~~ HOME ~~~ */

#home {
  flex-basis: 100vh;
  background-color: #3b2945;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  color: white;
}

#home div {
  margin-top: 200px;
  opacity: 0;
  align-self: center;
}

#home div h1 {
  font-size: 80px;
  font-family: "Hind Madurai";
}

#home div hr {
  width: 0;
  transform-origin: 50%;
}

#home div h3 {
  font-size: 40px;
  font-weight: 100;
  font-family: "Raleway";
}

/* ~~~ end of home ~~~ */

/* ~~~ WORK ~~~ */

#work {
  flex-basis: 100vh;
  background-color: #3b2945;
}

#work div {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

#workCont {
  height: 100%;
  background-color: #594266;
}

#work div div {
  flex-basis: 50%;
}

#work div #workTitle {
  flex-basis: 100%;
  height: 0;
  margin: 50px auto;
}

#workTitle h3 {
  font-size: 60px;
  font-family: "Hind Madurai";
  width: 300px;
  margin: 0 auto;
  color: white;
  opacity: 0;
}

.img-box {
  height: 300px;
  min-width: 500px;
  background-size: cover;
  position: relative;
  overflow: hidden;
  display: flex;
  align-content: space-around;
  opacity: 0;
}

#Rick {
  background-image: url("https://image.ibb.co/nmd48x/rickandmorty.jpg");
}

#Twitch {
  background-image: url("https://image.ibb.co/niELyx/twitch.jpg");
}

#Simon {
  background-image: url("https://image.ibb.co/jX8DJx/simon.jpg");
}

#Pomo {
  background-image: url("https://image.ibb.co/cNcMox/pomodoro.jpg");
}

.black {
  position: absolute;
  min-width: 500px;
  height: 100%;
  background-color: black;
  top: 100%;
  opacity: .85;
}

.img-box h2 {
  color: white;
  font-size: 2em;
  flex-basis: 100%;
  text-align: center;
  font-family: "Raleway";
  text-decoration: underline;
  z-index: 5;
  transform: translateY(-30px);
  opacity: 0;
}

.img-box p {
  text-align: center;
  color: white;
  font-family: "Raleway";
  flex-basis: 70%;
  z-index: 5;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(-30px);
}

.img-box:nth-child(2) {
  margin-bottom: 0px;
}

.img-box:hover .black {
  animation: black-slide .2s forwards ease-out;
}

.button {
  color: white;
  font-family: "Raleway";
  flex-basis: 50%;
  cursor: pointer;
  background-size: 100% 0%;
  transition: background-size 0.5s ease;
  background-repeat: no-repeat;
  z-index: 5;
  max-width: 160px;
  opacity: 0;
  transform: translateY(-30px);
}

.button:hover {
  background-size: 100% 100%;
}

.button p {
  padding: 5px 0;
  width: 100%;
}

.img-box:hover h2 {
  animation: 0.2s 0.3s text-anim forwards ease-out;
}

.img-box:hover p {
  animation: 0.2s 0.5s text-anim forwards ease-out;
}

.img-box:hover .button {
  animation: 0.2s 0.7s text-anim forwards ease-out;
}

/* ~~~ end of work ~~~ */

/* ~~~ ABOUT ~~~ */

#about {
  flex-basis: 100vh;
  background-color: #3b2945;
  display: flex;
  flex-wrap: wrap;
  color: white;
  padding: 0 15%;
  border-bottom: 6px solid white;
  justify-content: space-around;
}

#about #aboutTitle {
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 50px;
}

#about #aboutTitle h3 {
  font-size: 60px;
  font-family: "Hind Madurai";
  padding-top: 50px;
  border-bottom: 6px solid white;
  width: 300px;
  margin: 0 auto;
}

#about #aboutPic {
  flex-basis: 50%;
}

#about > #aboutPic > img {
  width: 400px;
  height: 400px;
  float: right;
  margin-right: 30px;
  border: 6px solid white;
}

#about #aboutText {
  flex-basis: 50%;
  height: 400px;
  position: relative;
}

#about #aboutText p {
  color: white;
  font-family: "Raleway";
  text-align: center;
  width: 85%;
  background-color: #594266;
  padding: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#about #skillsCont {
  flex-basis: 100%;
}

#about div #skills {
  width: 600px;
  height: 300px;
  margin: 0 auto;
  background-color: #594266;
}

#skills div {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

#skills #left {
  float: left;
}

#skills #right {
  float: right;
}

#skills #left div {
  height: 100%;
  width: 100%;
  background-size: 0% 100%;
  transition: 0.5s ease;
  background-repeat: no-repeat;
}

#skills #left div:hover {
  background-size: 100% 100%;
}

#left div p {
  font-family: "Raleway";
  font-size: 1.25em;
}

#right div p {
  font-family: "Raleway";
  font-size: 1em;
}


/* ~~~ end of about ~~~ */

/* ~~~ CONTACT ~~~ */

#contact {
  background-color: #1C1F29;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact p {
  flex-basis: 100%;
  text-align: center;
}

#contact p a {
  color: white;
  font-family: "Raleway";
  font-size: 1.25em;
}

/* ~~~ end of contact ~~~ */

/* ~~~ ANIMATIONS ~~~ */

@keyframes arrow-anim {
  5% {
    opacity: 1;
  }
  45% {
    opacity: 1;
    top: 95%;
  }
  50% {
    opacity: 0;
    top: 95%;
  }
  100% {
    opacity: 0;
    top: 95%;
  }
}

@keyframes black-slide {
  100% {
    top: 0;
  }
}

@keyframes hrAnim {
  100% {
    width: 100%;
  }
}

@keyframes logoAnim {
  100% {
    transform: scale(0.33) translate(-50%, -50%);
    top: 75px;
  }
}

@keyframes slidefade {
  100% {
    margin: 0 auto;
    opacity: 1;
  }
}

@keyframes text-anim {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
